/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*==================== VARIABLES CSS ====================*/

:root {
  --header-height: 4rem;

  /*========== Colors ==========*/

  /* Primary */
  --primary-500: hsla(0, 60%, 35%, 1);
  --primary-400: hsla(5, 44%, 53%, 1);
  --primary-300: hsla(10, 59%, 67%, 1);
  --primary-200: hsla(16, 75%, 81%, 1);
  --primary-100: hsla(21, 76%, 90%, 1);
  --primary-50: hsla(21, 50%, 92%, 1);
  --primary-40: hsla(20, 37%, 92%, 1);
  --primary-30: hsla(20, 100%, 98%, 1);

  /* Neutral */
  --neutralcolors-10: hsla(213, 44%, 95%, 1);
  --neutralcolors-20: hsla(215, 46%, 91%, 1);
  --neutralcolors-30: hsla(217, 30%, 79%, 1);
  --neutralcolors-40: hsla(219, 17%, 65%, 1);
  --neutralcolors-50: hsla(221, 13%, 46%, 1);
  --neutralcolors-60: hsla(222, 21%, 37%, 1);
  --neutralcolors-70: hsla(225, 30%, 29%, 1);
  --neutralcolors-80: hsla(227, 41%, 21%, 1);
  --neutralcolors-90: hsla(229, 54%, 16%, 1);
  --neutralcolors-100: hsla(229, 53%, 7%, 1);
  --neutralcolors-white: hsla(0, 0%, 100%, 1);
  --neutralcolors-black: hsla(0, 0%, 10%, 1);
  --neutralcolors-graylight: hsla(210, 20%, 98%, 1);

  /*========== Box-shadow ==========*/
  --blur-4: 0px 1px 4px 0px rgba(0, 0, 0, 0.20);
  --blur-8: 0px 2px 8px 0px rgba(0, 0, 0, 0.20);
  --blur-16: 0px 4px 16px 0px rgba(0, 0, 0, 0.20);
  --blur-24: 0px 6px 24px 0px rgba(0, 0, 0, 0.20);
  --blur-32: 0px 8px 32px 0px rgba(0, 0, 0, 0.20);


  /*========== Font and typography ==========*/
  --body-font: 'Inter', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */

  /* Heading*/
  --h1-font-size: 4rem;
  --h2-font-size: 3.5rem;
  --h3-font-size: 3rem;
  --h4-font-size: 2.5rem;
  --h5-font-size: 2rem;
  --h6-font-size: 1.5rem;
  --h7-font-size: 1.25rem;

  /* Body */
  --body-1-font-size: 1.5rem;
  --body-2-font-size: 1.25rem;
  --body-3-font-size: 1rem;
  --body-4-font-size: 0.875rem;
  --body-5-font-size: 0.75rem;

  /* Buttons e Links */
  --button-link-l: 1.125rem;
  --button-link-m: 1rem;
  --button-link-s: 0.875rem;
  --button-link-xs: 0.75rem;

  /* Fields */
  --text-placeholder: 1rem;
  --text-description: 0.75rem;
  --text-title: 0.75rem;
  --text-title: 0.5rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-5: 0.5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-4: 4rem;
  --mb-5: 5rem;
  --mb-6: 6rem;
  --mb-7-5: 7.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

}

/* Font size for large devices */

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-3-font-size);
  background-color: var(--neutralcolors-white);
  color: var(--neutralcolors-50);
}

h1,
h2,
h3,
h4 {
  color: var(--neutralcolors-100);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2.5rem 0 5.19rem;
  display: flex;
  justify-content: center;
}

.section__tag {
  font-size: var(--body-5-font-size);
  font-weight: var(--font-bold);
  color: var(--primary-500);
}

.section__title {
  font-size: var(--h6-font-size);
  font-weight: var(--font-bold);
  color: var(--neutralcolors-100);
}

.section__description {
  color: var(--neutralcolors-50);
  font-size: var(--body-5-font-size);
  line-height: 160%;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.grid {
  display: grid;
  row-gap: var(--mb-1);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--neutralcolors-white);
  box-shadow: var(--blur-4);
}

/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.97rem;
}

.ri-menu-line {
  font-size: 2rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--primary-500);
  transition: .3s;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--neutralcolors-white);
    padding: 2rem 1.5rem 0rem;
    box-shadow: var(--blur-4);
    transition: .3s;
  }
}

.nav__List {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: var(--h7-font-size);
  color: var(--neutralcolors-100);
  font-weight: var(--font-semi-bold);
}

.nav__link:hover {
  color: var(--primary-500);
  transition: .3s;
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.8rem;
  top: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--neutralcolors-50);
}

.logo-mobile {
  position: relative;
  top: -0.9rem;
}

.nav__close:hover {
  color: var(--primary-500);
  transition: .3s;
}

/* esconder tablet */
.nav__list-tablet {
  display: none;
}

.ri-menu-line:hover {
  color: var(--primary-500);
  transition: .3s;
}

/* show menu */
.show-menu {
  bottom: 51.2%;
}

/* Active link */
.active-link {
  color: var(--primary-500);
}

.btns__menu {
  padding: 1.5rem 0 1.38rem 0;
}

.login__btns {
  border-radius: 0.1875rem;
  border: 1px solid var(--primary-500);
  display: flex;
  width: 17.5rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.login__btns a {
  color: var(--primary-500);
  font-size: var(--body-5-font-size);
  line-height: 150%;
  font-weight: var(--font-bold);
  transition: .3s;
}

.login__btns a:hover {
  color: var(--primary-500);
}

.register__btns {
  border-radius: 0.1875rem;
  background: var(--primary-500);
  display: flex;
  width: 17.5rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: .3s;
}

.register__btns:hover {
  background: var(--primary-400);
}

.register__btns a {
  color: var(--neutralcolors-white);
  font-size: var(--body-5-font-size);
  line-height: 150%;
  font-weight: var(--font-bold);
}

.nav__logo-desktop {
  display: none;
}

/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 1fr;
  padding-top: 6.5rem;
  align-items: center;
  text-align: center;
  margin: 0 auto;

}

.home__data {
  display: grid;
  gap: 0.5rem;
  grid-column: 1/3;
}

/* Stats */

.home__stats {
  margin-top: var(--mb-2-5);
}

.stats__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
  gap: 1.5rem;
}

.stats__content {
  display: inline-flex;
  flex-direction: column;
  gap: 0.2rem;
}

.stats__info-number {
  font-size: var(--h5-font-size);
  font-weight: var(--font-semi-bold);
  line-height: 120%;
  color: var(--primary-500);
}

.stats__info-title {
  font-size: var(--body-5-font-size);
  line-height: 160%;
  color: var(--neutralcolors-90);
}

.stats__description {
  font-size: var(--text-title);
  color: var(--neutralcolors-50);
}

/*==================== VAGAS ABERTAS ====================*/

.vagas__container.container.grid {
  margin: 0 auto;
  row-gap: 0;
}

.vagas__section {
  text-align: center;
  margin: 0 auto;
  padding: 0 1.25rem 0 1.25rem;
}

.tag__vagas {
  font-size: var(--body-5-font-size);
  color: var(--primary-500);
  text-align: center;
  background-color: var(--primary-50);
  border-radius: 0.1875rem;
  padding: 0.19rem 1rem 0.19rem 0.94rem;
}

.vagas-title {
  padding: 1rem 0 1rem 0;
}

.vagas-description {
  margin: 0 auto;
  width: 13.3125rem;
  padding-bottom: 1.5rem;
}

.vagas__info {
  text-align: left;
  float: left;
  width: 100%;
}

.product-design,
.front-end {
  padding-bottom: 1rem;
}

.vagas__info-title {
  font-size: var(--body-4-font-size);
  font-weight: var(--font-medium);
  line-height: 150%;
  color: var(--neutralcolors-90);
  padding: 2.94rem 0 1rem 0rem;
  display: flex;
}

.vagas__cargo {
  border-radius: 0.5rem;
  border: 1px solid var(--neutralcolors-10);
  background: var(--neutralcolors-white);
  padding: 1.06rem 0 1.11rem 1rem;
  width: 100%;
}

.vagas__cargo-nome {
  font-size: var(--body-5-font-size);
  color: var(--neutralcolors-100);
  line-height: 160%;
  font-weight: var(--font-medium);
}

.vagas__cargo-tempo,
.vagas__cargo-salario {
  font-size: var(--text-title);
  color: var(--neutralcolors-50);
}

.vagas__add-info {
  display: inline-flex;
  column-gap: 1.5rem;
}

.desenvolvimento-software {
  padding: 1.5rem 0 1rem 0;
}

/*==================== DEPOIMENTOS ====================*/
.depoimentos__section {
  padding: 5rem 1.25rem 5rem 1.25rem;
}

.depoimentos__container {
  background-color: var(--primary-30);
  border-radius: 0.5rem;
  padding: 1.75rem 1.88rem 1.69rem 1.88rem;
  text-align: center;
}

.depoimentos__sub-title {
  font-size: var(--text-title);
  color: var(--primary-500);
}

.depoismentos__title {
  font-size: var(--body-4-font-size);
  color: var(--neutralcolors-100);
  line-height: 150%;
  font-weight: var(--font-bold);
  padding: 0.5rem 0 1.5rem 0;
}

.avatar__funcionario {
  overflow: hidden;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 2.375rem;
  margin: 0 auto;
}

.avatar__funcionario-img {
  width: 100%;
}

.nome__funcionario {
  padding-top: 0.5rem;
  font-size: var(--body-5-font-size);
  color: var(--neutralcolors-100);
  line-height: 160%;
  font-weight: var(--font-medium);
}

.cargo__funcionario {
  font-size: var(--text-title);
  color: var(--neutralcolors-50);
}

/*==================== FOOTER ====================*/
.footer {
  text-align: center;
  position: sticky;
}

.footer__bg {
  background-color: var(--neutralcolors-graylight);
  padding: 1.63rem 0rem 1.62rem 0rem;
}

.footer__container.container.grid {
  margin: 0 auto;
}

.newslleter-optimus {
  display: inline-flex;
  column-gap: 0.5rem;
  margin: 0 auto;
}

input[type=text] {
  background: var(--neutralcolors-white);
  border-radius: 0.1875rem;
  border: 1px solid var(--neutralcolors-30);
  padding: 0.81rem 0rem 0.75rem 0.5rem;
  height: 2.5rem;
}

input[type=text]::placeholder {
  font-size: var(--text-description);
  color: var(--neutralcolors-40);
}

.btns-newslleter {
  background-color: var(--primary-500);
  border-radius: 0.1875rem;
  color: var(--neutralcolors-white);
  font-size: var(--body-5-font-size);
  line-height: 150%;
  font-weight: var(--font-bold);
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 5.5rem;
  height: 2.5rem;
}

.creditos__footer {
  font-size: var(--text-title);
  color: var(--neutralcolors-40);
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--primary-500);
  opacity: .8;
  padding: .3rem .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--primary-500);
}

.scrollup__icon {
  font-size: 1.2rem;
  color: var(--neutralcolors-white);
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--primary-30);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-400);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-500);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (min-width: 320px) {
  ul.nav__list.grid {
    display: grid !important;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {

  .stats__content {
    gap: 0.5rem;
  }

  .section__title {
    font-size: var(--h5-font-size);
    font-weight: var(--font-bold);
    color: var(--neutralcolors-100);
  }

  .section__description {
    color: var(--neutralcolors-50);
    font-size: var(--body-3-font-size);
    line-height: 160%;
  }

  .stats__info {
    display: inline-flex;
    column-gap: 1.69rem;
    text-align: left;
  }

  .stats__info-number {
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold);
    line-height: 120%;
    color: var(--primary-500);
  }

  .stats__info-title {
    font-size: var(--body-5-font-size);
    line-height: normal;
    color: var(--neutralcolors-90);
    font-weight: var(--font-bold);
  }

  .stats__description {
    font-size: var(--text-description);
    color: var(--neutralcolors-50);
  }

  .vagas__section {
    text-align: center;
    margin: 0 auto;
    padding: 0 1.25rem 0 1.25rem;
  }

  .vagas-description {
    margin: 0 auto;
    width: auto;
    padding-bottom: 1.5rem;
  }

  .img__vagas {
    width: 43rem;
    border-radius: 0.5rem;
  }

  .vagas__info-title {
    font-size: var(--body-2-font-size);
    font-weight: var(--font-medium);
    line-height: 150%;
    color: var(--neutralcolors-90);
    padding: 2.94rem 0 1rem 0rem;
    display: flex;
  }

  .vagas__container.container.grid {
    row-gap: 0;
    padding: 0 3rem;
  }

  .vagas__cargo {
    border-radius: 0.5rem;
    border: 1px solid var(--neutralcolors-10);
    background: var(--neutralcolors-white);
    padding: 1.06rem 0 1.11rem 1rem;
    width: 100%;
  }

  .vagas__cargo-nome {
    font-size: var(--body-3-font-size);
    color: var(--neutralcolors-100);
    line-height: 160%;
    font-weight: var(--font-medium);
  }

  .vagas__cargo-tempo,
  .vagas__cargo-salario {
    font-size: var(--body-5-font-size);
    color: var(--neutralcolors-50);
    padding-top: 1rem;
  }

  .depoimentos__sub-title {
    font-size: var(--body-4-font-size);
    color: var(--primary-500);
  }

  .depoismentos__title {
    font-size: var(--h6-font-size);
    color: var(--neutralcolors-100);
    line-height: 150%;
    font-weight: var(--font-bold);
    padding: 0.5rem 0 1.5rem 0;
  }

  .avatar__funcionario {
    overflow: hidden;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2.375rem;
    margin: 0 auto;
  }

  .nome__funcionario {
    padding-top: 0.5rem;
    font-size: var(--body-3-font-size);
    color: var(--neutralcolors-100);
    line-height: 160%;
    font-weight: var(--font-medium);
  }

  .cargo__funcionario {
    font-size: var(--body-4-font-size);
    color: var(--neutralcolors-50);
  }

  input[type=text] {
    width: 20rem;
    height: 3rem;
  }

  .btns-newslleter {
    font-size: var(--body-4-font-size);
    width: 8rem;
    height: 3rem;
  }

  input[type=text]::placeholder {
    font-size: var(--body-4-font-size);
    color: var(--neutralcolors-40);
  }

  .creditos__footer {
    font-size: var(--body-5-font-size);
    color: var(--neutralcolors-40);
  }

  .nav__list-tablet {
    display: inline-flex;
    column-gap: 2rem;
  }

  .nav__link-tablet {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: var(--body-4-font-size);
    color: var(--neutralcolors-50);
    line-height: 150%;
  }

  .nav__link-tablet:hover {
    color: var(--primary-500);
    transition: .3s;
  }

  ul.nav__list.grid {
    display: none !important;
  }

  .nav__close {
    top: auto;
  }

  .show-menu {
    bottom: 86.9% !important;
  }

  .btns__menu {
    padding: 0rem 0 1.38rem 0;
    display: inline-flex;
    column-gap: 1rem;
  }

  .login__btns {
    width: 13.5rem;
  }

  .register__btns {
    margin-top: auto;
    width: 13.5rem;
  }

}

@media screen and (min-width: 720px) {
  .show-menu {
    bottom: 87.9% !important;
  }
}

@media screen and (min-width: 768px) {

  .section__title {
    font-size: var(--h5-font-size);
    font-weight: var(--font-bold);
    color: var(--neutralcolors-100);
  }

  .section__description {
    color: var(--neutralcolors-50);
    font-size: var(--body-3-font-size);
    line-height: 160%;
  }

  .stats__info {
    display: inline-flex;
    column-gap: 1.69rem;
    text-align: left;
  }

  .stats__info-number {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    line-height: 120%;
    color: var(--primary-500);
  }

  .stats__info-title {
    font-size: var(--body-3-font-size);
    line-height: 160%;
    color: var(--neutralcolors-90);
  }

  .stats__description {
    font-size: var(--body-5-font-size);
    color: var(--neutralcolors-50);
  }

  .nav__btns {
    display: none;
  }

  .nav__close {
    display: none;
  }

  .login__btns {
    display: inline-flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
    gap: 0;
    border: none;
  }

  .login__btns a {
    color: var(--neutralcolors-50);
    font-size: var(--body-4-font-size);
    line-height: 150%;
    font-weight: normal;
  }

  .register__btns {
    border-radius: 0.1875rem;
    background: var(--primary-500);
    display: flex;
    width: 10rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0;
  }

  .btns__menu {
    padding: 0;
    display: inline-flex;
    column-gap: 1rem;
  }

  .section__description {
    width: 34rem;
    margin: 0 auto;
  }

  .stats__content {
    width: 100%;
  }

  .show-menu {
    bottom: 89.9% !important;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__container {
    margin: 0 auto;
  }

  .nav__logo-desktop {
    display: block;
  }

  .nav__logo {
    display: none;
  }

  .depoimentos__container {
    width: 51rem;
    margin: 0 auto;
  }

  .register__btns {
    margin-top: 0;
  }
}